/*
font-family: 'Open Sans', sans-serif;*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    /*margin-bottom: 20px;*/
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    /*display: block;
    text-align: center;*/
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3) ;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

footer {
    background-color: #ddd;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.holder {
    width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

.columna {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.bienvenidos {
    width: 75%;
}

.testimonios {
    width: 25%;
    height: 160px;
}

.testimonio {
    background-color: #ddd;
    box-sizing: border-box;
    padding: 20px;
}
.cita {
    font-weight: bold;
    font-style:italic;
    margin-bottom: 7px;
}

.autor {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

/* FIN HOME */

/*INICIO NOSOTROS*/
.historia p {
    font-size: 13px;
}

.personas {
    display: flex;
    /*gap: 20px; */
    justify-content: space-between;
}
.persona {
    border: 1px solid gray;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px 12px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    width: 40%;
    box-shadow: 0 0 2px black;
}

.persona h5,
.persona h6 {
    margin: 0;
    color: #2e64a1;
    font-weight: normal;
}

.persona h5 {
    font-size: 14px ;
}

.persona h6 {
    font-style: italic;
    margin-top: 2px;
}

.persona p {
    font-size: 11px;
    text-align: left;
}


/* FIN NOSOSTROS*/

/*INICIO CONTACTO */

.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
    list-style: none;
}

.formulario p {
    display: flex;
 } /*se acomodan los elementos uno al lado del otro */

.formulario p input ,
.formulario p textarea {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
    padding: 5px 10px;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}
.formulario p:nth-child(4) {
      align-items: start;
}

.formulario input[type="submit"] {
    background:#697CFF ;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    position: relative;
    left: 80px;
    transition: all 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background:#2e64a1 ;
}



/* nth-child(odd): impares
   nth-child(even): pares

.formulario textarea {
    height: 150px;
    resize: none;
}

/*.formulario p label.arriba {
    align-items: flex-start;
} */
/*FIN CONTACTO */

